In [97]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import json
from pandas.io.json import json_normalize

In [98]:
df_players=pd.read_json('Datasets/players.json')
df_premier=pd.read_json('Datasets/events/events_England.json')
df_prem_match=pd.read_json('Datasets/matches/matches_England.json')
df_comp=pd.read_json('Datasets/competitions.json')
df_teams=pd.read_json('Datasets/teams.json')

In [99]:
df_players.head()

,birthArea,birthDate,currentNationalTeamId,currentTeamId,firstName,foot,height,lastName,middleName,passportArea,role,shortName,weight,wyId
0,"{'name': 'Turkey', 'id': '792', 'alpha3code': ...",1989-06-17,4687,4502,Harun,right,187,Tekin,,"{'name': 'Turkey', 'id': '792', 'alpha3code': ...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",H. Tekin,78,32777
1,"{'name': 'France', 'id': '250', 'alpha3code': ...",1999-01-23,4423,3775,Malang,left,182,Sarr,,"{'name': 'Senegal', 'id': '686', 'alpha3code':...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",M. Sarr,73,393228
2,"{'name': 'France', 'id': '250', 'alpha3code': ...",1998-10-26,null,3772,Over,,176,Mandanda,,"{'name': 'France', 'id': '250', 'alpha3code': ...","{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...",O. Mandanda,72,393230
3,"{'name': 'France', 'id': '250', 'alpha3code': ...",1990-03-06,19314,683,Alfred John Momar,right,187,N'Diaye,,"{'name': 'Senegal', 'id': '686', 'alpha3code':...","{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...",A. N'Diaye,82,32793
4,"{'name': 'France', 'id': '250', 'alpha3code': ...",1999-05-25,null,2975,Ibrahima,right,192,Konat\u00e9,,"{'name': 'France', 'id': '250', 'alpha3code': ...","{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...",I. Konat\u00e9,84,393247

In [100]:
df_plyr=df_players[['currentTeamId','shortName','wyId']]

In [101]:
df_plyr.rename(columns={'wyId':'playerId'},inplace=True)

C:\Users\HP\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [102]:
df_plyr.head()

  currentTeamId       shortName  playerId
0          4502        H. Tekin     32777
1          3775         M. Sarr    393228
2          3772     O. Mandanda    393230
3           683      A. N'Diaye     32793
4          2975  I. Konat\u00e9    393247

In [103]:
df_pass=df_premier[df_premier.eventId == 8]

In [104]:
df_Fin_pass=df_pass.drop(['eventName','eventSec','id','matchId','matchPeriod','positions'],axis=1)

In [105]:
df_Fin_pass.head()

   eventId  playerId subEventId subEventName            tags  teamId
0        8     25413         85  Simple pass  [{'id': 1801}]    1609
1        8    370224         83    High pass  [{'id': 1801}]    1609
2        8      3319         82    Head pass  [{'id': 1801}]    1609
3        8    120339         82    Head pass  [{'id': 1801}]    1609
4        8    167145         85  Simple pass  [{'id': 1801}]    1609

In [110]:
accu_pass = []
wrong_pass = []

for index,row in df_Fin_pass.iterrows():
    for value in row['tags'][-1].values():
        if value == 1801:
            accu_pass.append(1)
            wrong_pass.append(0)
        elif value == 1802:
            wrong_pass.append(1)
            accu_pass.append(0)

In [111]:
df_Fin_pass['Accurate'] = accu_pass
df_Fin_pass['NotAccurate'] = wrong_pass

In [113]:
df_Fin_pass.head(8)

,eventId,playerId,subEventId,subEventName,tags,teamId,Accurate,NotAccurate
0,8,25413,85,Simple pass,[{'id': 1801}],1609,1,0
1,8,370224,83,High pass,[{'id': 1801}],1609,1,0
2,8,3319,82,Head pass,[{'id': 1801}],1609,1,0
3,8,120339,82,Head pass,[{'id': 1801}],1609,1,0
4,8,167145,85,Simple pass,[{'id': 1801}],1609,1,0
5,8,3319,85,Simple pass,[{'id': 1802}],1609,0,1
6,8,8653,82,Head pass,[{'id': 1801}],1631,1,0
9,8,167145,82,Head pass,"[{'id': 1401}, {'id': 1801}]",1609,1,0

In [115]:
df_Fin_pass.drop(['tags'], axis=1).head()

   eventId  playerId subEventId subEventName  teamId  Accurate  NotAccurate
0        8     25413         85  Simple pass    1609         1            0
1        8    370224         83    High pass    1609         1            0
2        8      3319         82    Head pass    1609         1            0
3        8    120339         82    Head pass    1609         1            0
4        8    167145         85  Simple pass    1609         1            0

In [116]:
attempted= df_Fin_pass['playerId'].value_counts().to_dict()

In [117]:
attempted

{49876: 2974,
 70086: 2964,
 105339: 2842,
 25553: 2713,
 38021: 2672,
 70122: 2456,
 8317: 2382,
 48: 2370,
 8277: 2316,
 54: 2196,
 28292: 2178,
 210044: 2147,
 31528: 2100,
 3350: 2024,
 7964: 1991,
 167145: 1877,
 62389: 1850,
 257762: 1803,
 3319: 1790,
 7899: 1755,
 8086: 1715,
 25393: 1709,
 3560: 1694,
 7855: 1667,
 7936: 1661,
 20612: 1656,
 246866: 1649,
 7938: 1643,
 8653: 1640,
 8336: 1635,
 370: 1635,
 14748: 1628,
 8464: 1584,
 9285: 1581,
 14870: 1577,
 265366: 1562,
 127537: 1559,
 134102: 1539,
 9279: 1535,
 8125: 1532,
 25706: 1526,
 7885: 1517,
 55979: 1507,
 222220: 1493,
 18550: 1487,
 8319: 1473,
 9097: 1423,
 3361: 1418,
 8307: 1391,
 8976: 1388,
 70389: 1378,
 8032: 1368,
 11152: 1365,
 7939: 1360,
 8582: 1350,
 14808: 1350,
 136441: 1349,
 466: 1341,
 15215: 1330,
 8897: 1329,
 257899: 1328,
 25707: 1327,
 8945: 1311,
 77548: 1302,
 135103: 1288,
 8242: 1274,
 7967: 1267,
 7887: 1252,
 14869: 1251,
 7988: 1250,
 268776: 1248,
 8561: 1245,
 8192: 1242,
 9277: 1241,
 15526: 1227,
 116: 1225,
 26150: 1216,
 7906: 1215,
 7870: 1215,
 9380: 1204,
 8313: 1203,
 13484: 1184,
 302518: 1184,
 41174: 1178,
 11066: 1174,
 21164: 1167,
 383: 1165,
 230020: 1140,
 74: 1130,
 119951: 1128,
 7944: 1120,
 8833: 1117,
 70083: 1115,
 8351: 1108,
 8013: 1107,
 15808: 1105,
 7919: 1090,
 7929: 1081,
 245364: 1079,
 8143: 1074,
 346101: 1074,
 8285: 1072,
 7922: 1071,
 135114: 1064,
 7853: 1063,
 8471: 1059,
 49872: 1059,
 7918: 1057,
 9227: 1057,
 252365: 1055,
 28291: 1048,
 107: 1041,
 703: 1029,
 61988: 1028,
 9433: 1028,
 8944: 1027,
 3413: 1024,
 8623: 1020,
 70092: 1019,
 25950: 1008,
 7932: 1005,
 3523: 1003,
 21100: 1002,
 8433: 999,
 3278: 996,
 92899: 981,
 7989: 979,
 29640: 973,
 25854: 969,
 105338: 967,
 265673: 956,
 14911: 938,
 8245: 934,
 8889: 934,
 25747: 933,
 350976: 920,
 8460: 920,
 7934: 917,
 105333: 916,
 120353: 915,
 454: 914,
 7914: 911,
 149019: 903,
 14853: 901,
 36: 898,
 8625: 896,
 8643: 894,
 8136: 889,
 8360: 889,
 8370: 878,
 8314: 876,
 8488: 876,
 37725: 867,
 62224: 861,
 68085: 858,
 25804: 852,
 7868: 846,
 11078: 846,
 3351: 842,
 93: 840,
 8554: 838,
 120339: 834,
 56038: 833,
 5281: 829,
 25798: 829,
 340: 829,
 284: 829,
 71654: 829,
 160: 822,
 8116: 822,
 3928: 820,
 25785: 816,
 25381: 815,
 3429: 804,
 26495: 804,
 4908: 799,
 25571: 795,
 61962: 794,
 7873: 783,
 134502: 779,
 10131: 777,
 8980: 776,
 8239: 772,
 25537: 772,
 10252: 763,
 8620: 757,
 377071: 749,
 26499: 749,
 134513: 749,
 8144: 746,
 339789: 744,
 71703: 729,
 20620: 725,
 70156: 722,
 77546: 718,
 25430: 717,
 9739: 712,
 8221: 707,
 77558: 702,
 7847: 699,
 282550: 696,
 173: 690,
 14703: 689,
 7882: 689,
 247248: 689,
 235555: 686,
 20593: 682,
 3360: 676,
 230883: 675,
 3577: 673,
 3802: 673,
 8004: 668,
 8094: 666,
 241564: 666,
 8501: 666,
 8422: 663,
 9419: 663,
 14796: 662,
 353236: 660,
 25413: 657,
 8553: 647,
 61390: 645,
 8480: 639,
 9637: 636,
 240070: 628,
 397168: 628,
 8958: 626,
 12242: 624,
 15198: 621,
 7910: 621,
 7905: 618,
 8726: 612,
 8325: 609,
 286825: 601,
 8925: 601,
 7978: 597,
 8731: 595,
 283142: 595,
 8717: 594,
 61967: 593,
 262: 587,
 397178: 586,
 8358: 580,
 9414: 579,
 171283: 577,
 370224: 574,
 9283: 555,
 8498: 551,
 215983: 550,
 14688: 550,
 379209: 549,
 279717: 547,
 8186: 543,
 340386: 542,
 3436: 541,
 77552: 535,
 25572: 533,
 8416: 529,
 91381: 522,
 10108: 513,
 9280: 510,
 22889: 509,
 3324: 499,
 8284: 497,
 134294: 496,
 9293: 492,
 8959: 491,
 65254: 488,
 8135: 487,
 15054: 482,
 58978: 480,
 70215: 476,
 355937: 475,
 9623: 471,
 64966: 466,
 3327: 466,
 7892: 466,
 20855: 463,
 15175: 455,
 4365: 445,
 189821: 436,
 8514: 430,
 16436: 428,
 20441: 427,
 332605: 422,
 8530: 422,
 192748: 420,
 8516: 417,
 70965: 417,
 256998: 416,
 12829: 409,
 15823: 409,
 9123: 409,
 38031: 406,
 70403: 406,
 8324: 404,
 8425: 402,
 8903: 400,
 8981: 396,
 8292: 392,
 8677: 392,
 8266: 392,
 70085: 387,
 8747: 383,
 8240: 382,
 8005: 378,
 8495: 375,
 258162: 374,
 8249: 369,
 21160: 368,
 7945: 368,
 86308: 364,
 293687: 362,
 11669: 359,
 134: 357,
 254898: 357,
 12536: 356,
 214654: 356,
 101652: 348,
 7879: 348,
 11294: 347,
 7941: 340,
 8384: 340,
 8290: 339,
 397174: 337,
 9164: 337,
 14763: 337,
 9206: 336,
 16122: 335,
 7958: 334,
 207164: 334,
 303357: 332,
 49859: 331,
 8126: 330,
 38377: 329,
 8301: 322,
 49971: 321,
 132: 309,
 293686: 306,
 25867: 303,
 26010: 298,
 3582: 290,
 61941: 285,
 7974: 283,
 10663: 271,
 265318: 261,
 7961: 251,
 9194: 242,
 343951: 241,
 217078: 234,
 7856: 233,
 285508: 233,
 8627: 230,
 8142: 228,
 32636: 227,
 486252: 226,
 38: 224,
 61961: 223,
 277002: 222,
 8580: 220,
 26136: 216,
 8140: 216,
 145692: 212,
 37726: 210,
 179: 204,
 284476: 202,
 92864: 202,
 21095: 196,
 104851: 195,
 8953: 190,
 20857: 189,
 7957: 188,
 7970: 183,
 9403: 183,
 8826: 179,
 8686: 178,
 447812: 171,
 286831: 171,
 7888: 170,
 245813: 169,
 240032: 167,
 419784: 165,
 77557: 165,
 3657: 161,
 434159: 160,
 8391: 156,
 471: 154,
 240559: 152,
 3348: 151,
 3326: 151,
 119630: 148,
 9127: 146,
 7907: 146,
 386197: 143,
 40787: 140,
 346071: 140,
 25885: 136,
 20505: 134,
 77550: 128,
 25865: 127,
 8296: 122,
 134351: 121,
 255935: 118,
 8362: 114,
 4255: 113,
 239411: 112,
 8392: 106,
 61979: 105,
 402884: 104,
 40765: 104,
 25415: 103,
 8624: 101,
 92947: 100,
 413002: 100,
 56: 97,
 77541: 96,
 7928: 96,
 7864: 94,
 86239: 93,
 7915: 91,
 8374: 90,
 25662: 89,
 9532: 86,
 8761: 86,
 224206: 86,
 55224: 85,
 447379: 84,
 38093: 82,
 270828: 82,
 281135: 81,
 415748: 81,
 442211: 81,
 288865: 80,
 5911: 80,
 397098: 80,
 3343: 78,
 8272: 76,
 3424: 75,
 13451: 75,
 8955: 75,
 20420: 73,
 8049: 72,
 9622: 71,
 274488: 69,
 3551: 68,
 261: 67,
 32968: 67,
 8017: 67,
 297733: 63,
 92922: 56,
 302520: 56,
 399564: 56,
 3557: 55,
 8066: 54,
 77502: 52,
 86325: 52,
 8246: 51,
 3662: 51,
 8935: 51,
 279709: 50,
 128214: 48,
 406682: 47,
 120: 45,
 8745: 44,
 447205: 43,
 26610: 43,
 62091: 41,
 8583: 38,
 337225: 37,
 346159: 35,
 93084: 32,
 404397: 29,
 21333: 26,
 25604: 25,
 20450: 24,
 14886: 23,
 259531: 23,
 423162: 18,
 450826: 17,
 399514: 17,
 9179: 17,
 212651: 16,
 15474: 15,
 8992: 15,
 237268: 14,
 77536: 12,
 20606: 12,
 531655: 11,
 25703: 9,
 13745: 8,
 8096: 8,
 291528: 7,
 234408: 7,
 346158: 7,
 351808: 7,
 62344: 7,
 0: 6,
 8752: 6,
 297258: 6,
 448708: 6,
 415747: 6,
 280157: 5,
 448038: 5,
 353241: 4,
 227756: 4,
 447254: 4,
 8566: 4,
 15301: 3,
 365707: 2,
 26109: 2,
 134708: 1,
 532949: 1,
 340476: 1,
 447538: 1}

In [118]:
playerid=[]
attempts=[]

In [119]:
for key,val in attempted.items():
    playerid.append(key)
    attempts.append(val)

In [120]:
data={}
data['playerId']=playerid
data['TotalAttemp']=attempts

In [121]:
df_3=pd.DataFrame(data)

In [122]:
df_3.head()

   playerId  TotalAttemp
0     49876         2974
1     70086         2964
2    105339         2842
3     25553         2713
4     38021         2672

In [123]:
fin_df_ply=pd.merge(df_Fin_pass,df_3, on='playerId')

In [124]:
fin_df_ply.head()

,eventId,playerId,subEventId,subEventName,tags,teamId,Accurate,NotAccurate,TotalAttemp
0,8,25413,85,Simple pass,[{'id': 1801}],1609,1,0,657
1,8,25413,82,Head pass,[{'id': 1802}],1609,0,1,657
2,8,25413,85,Simple pass,[{'id': 1802}],1609,0,1,657
3,8,25413,85,Simple pass,[{'id': 1801}],1609,1,0,657
4,8,25413,85,Simple pass,[{'id': 1801}],1609,1,0,657

In [15]:
# if you wana del then del it because its extra
#df3 = df_Fin_pass.apply(lambda x: x.apply(pd.Series).stack()).reset_index(level=1, drop=True)

#df3["tags"] = json_normalize(df3["tags"])

In [125]:
cont = fin_df_ply.groupby('playerId')['Accurate'].value_counts().to_dict()

In [126]:
cont

{(0, 0): 6,
 (36, 1): 790,
 (36, 0): 108,
 (38, 1): 192,
 (38, 0): 32,
 (48, 1): 2113,
 (48, 0): 257,
 (54, 1): 1803,
 (54, 0): 393,
 (56, 1): 78,
 (56, 0): 19,
 (74, 1): 1052,
 (74, 0): 78,
 (93, 1): 615,
 (93, 0): 225,
 (107, 1): 771,
 (107, 0): 270,
 (116, 1): 1114,
 (116, 0): 111,
 (120, 1): 31,
 (120, 0): 14,
 (132, 1): 234,
 (132, 0): 75,
 (134, 1): 290,
 (134, 0): 67,
 (160, 1): 633,
 (160, 0): 189,
 (173, 1): 520,
 (173, 0): 170,
 (179, 1): 166,
 (179, 0): 38,
 (261, 1): 50,
 (261, 0): 17,
 (262, 1): 490,
 (262, 0): 97,
 (284, 1): 669,
 (284, 0): 160,
 (340, 1): 657,
 (340, 0): 172,
 (370, 1): 1482,
 (370, 0): 153,
 (383, 1): 862,
 (383, 0): 303,
 (454, 1): 694,
 (454, 0): 220,
 (466, 1): 1083,
 (466, 0): 258,
 (471, 1): 115,
 (471, 0): 39,
 (703, 1): 886,
 (703, 0): 143,
 (3278, 1): 822,
 (3278, 0): 174,
 (3319, 1): 1564,
 (3319, 0): 226,
 (3324, 1): 383,
 (3324, 0): 116,
 (3326, 1): 111,
 (3326, 0): 40,
 (3327, 1): 354,
 (3327, 0): 112,
 (3343, 1): 70,
 (3343, 0): 8,
 (3348, 1): 108,
 (3348, 0): 43,
 (3350, 1): 1715,
 (3350, 0): 309,
 (3351, 1): 705,
 (3351, 0): 137,
 (3360, 1): 548,
 (3360, 0): 128,
 (3361, 1): 1076,
 (3361, 0): 342,
 (3413, 1): 905,
 (3413, 0): 119,
 (3424, 1): 60,
 (3424, 0): 15,
 (3429, 1): 703,
 (3429, 0): 101,
 (3436, 1): 413,
 (3436, 0): 128,
 (3523, 1): 838,
 (3523, 0): 165,
 (3551, 1): 60,
 (3551, 0): 8,
 (3557, 1): 44,
 (3557, 0): 11,
 (3560, 1): 1528,
 (3560, 0): 166,
 (3577, 1): 487,
 (3577, 0): 186,
 (3582, 1): 214,
 (3582, 0): 76,
 (3657, 1): 120,
 (3657, 0): 41,
 (3662, 1): 47,
 (3662, 0): 4,
 (3802, 1): 540,
 (3802, 0): 133,
 (3928, 1): 693,
 (3928, 0): 127,
 (4255, 1): 93,
 (4255, 0): 20,
 (4365, 1): 399,
 (4365, 0): 46,
 (4908, 1): 672,
 (4908, 0): 127,
 (5281, 1): 636,
 (5281, 0): 193,
 (5911, 1): 60,
 (5911, 0): 20,
 (7847, 1): 563,
 (7847, 0): 136,
 (7853, 1): 818,
 (7853, 0): 245,
 (7855, 1): 1522,
 (7855, 0): 145,
 (7856, 1): 219,
 (7856, 0): 14,
 (7864, 1): 82,
 (7864, 0): 12,
 (7868, 1): 680,
 (7868, 0): 166,
 (7870, 1): 1032,
 (7870, 0): 183,
 (7873, 1): 695,
 (7873, 0): 88,
 (7879, 1): 259,
 (7879, 0): 89,
 (7882, 1): 604,
 (7882, 0): 85,
 (7885, 1): 1202,
 (7885, 0): 315,
 (7887, 1): 1134,
 (7887, 0): 118,
 (7888, 1): 135,
 (7888, 0): 35,
 (7892, 1): 407,
 (7892, 0): 59,
 (7899, 1): 1512,
 (7899, 0): 243,
 (7905, 1): 446,
 (7905, 0): 172,
 (7906, 1): 1049,
 (7906, 0): 166,
 (7907, 1): 118,
 (7907, 0): 28,
 (7910, 1): 504,
 (7910, 0): 117,
 (7914, 1): 778,
 (7914, 0): 133,
 (7915, 1): 68,
 (7915, 0): 23,
 (7918, 1): 992,
 (7918, 0): 65,
 (7919, 1): 910,
 (7919, 0): 180,
 (7922, 1): 976,
 (7922, 0): 95,
 (7928, 1): 83,
 (7928, 0): 13,
 (7929, 1): 922,
 (7929, 0): 159,
 (7932, 1): 821,
 (7932, 0): 184,
 (7934, 1): 800,
 (7934, 0): 117,
 (7936, 1): 1438,
 (7936, 0): 223,
 (7938, 1): 1395,
 (7938, 0): 248,
 (7939, 1): 1076,
 (7939, 0): 284,
 (7941, 1): 258,
 (7941, 0): 82,
 (7944, 1): 904,
 (7944, 0): 216,
 (7945, 1): 313,
 (7945, 0): 55,
 (7957, 1): 128,
 (7957, 0): 60,
 (7958, 1): 265,
 (7958, 0): 69,
 (7961, 1): 163,
 (7961, 0): 88,
 (7964, 1): 1728,
 (7964, 0): 263,
 (7967, 1): 982,
 (7967, 0): 285,
 (7970, 1): 129,
 (7970, 0): 54,
 (7974, 1): 224,
 (7974, 0): 59,
 (7978, 1): 461,
 (7978, 0): 136,
 (7988, 1): 1050,
 (7988, 0): 200,
 (7989, 1): 792,
 (7989, 0): 187,
 (8004, 1): 529,
 (8004, 0): 139,
 (8005, 1): 300,
 (8005, 0): 78,
 (8013, 1): 729,
 (8013, 0): 378,
 (8017, 1): 55,
 (8017, 0): 12,
 (8032, 1): 1082,
 (8032, 0): 286,
 (8049, 1): 54,
 (8049, 0): 18,
 (8066, 1): 45,
 (8066, 0): 9,
 (8086, 1): 1483,
 (8086, 0): 232,
 (8094, 1): 495,
 (8094, 0): 171,
 (8096, 1): 7,
 (8096, 0): 1,
 (8116, 1): 626,
 (8116, 0): 196,
 (8125, 1): 1297,
 (8125, 0): 235,
 (8126, 1): 275,
 (8126, 0): 55,
 (8135, 1): 407,
 (8135, 0): 80,
 (8136, 1): 728,
 (8136, 0): 161,
 (8140, 1): 187,
 (8140, 0): 29,
 (8142, 1): 199,
 (8142, 0): 29,
 (8143, 1): 926,
 (8143, 0): 148,
 (8144, 1): 603,
 (8144, 0): 143,
 (8186, 1): 451,
 (8186, 0): 92,
 (8192, 1): 918,
 (8192, 0): 324,
 (8221, 1): 512,
 (8221, 0): 195,
 (8239, 1): 618,
 (8239, 0): 154,
 (8240, 1): 277,
 (8240, 0): 105,
 (8242, 1): 1053,
 (8242, 0): 221,
 (8245, 1): 758,
 (8245, 0): 176,
 (8246, 1): 40,
 (8246, 0): 11,
 (8249, 1): 326,
 (8249, 0): 43,
 (8266, 1): 325,
 (8266, 0): 67,
 (8272, 1): 62,
 (8272, 0): 14,
 (8277, 1): 2051,
 (8277, 0): 265,
 (8284, 1): 364,
 (8284, 0): 133,
 (8285, 1): 872,
 (8285, 0): 200,
 (8290, 1): 254,
 (8290, 0): 85,
 (8292, 1): 306,
 (8292, 0): 86,
 (8296, 1): 93,
 (8296, 0): 29,
 (8301, 1): 241,
 (8301, 0): 81,
 (8307, 1): 1312,
 (8307, 0): 79,
 (8313, 1): 903,
 (8313, 0): 300,
 (8314, 1): 701,
 (8314, 0): 175,
 (8317, 1): 2134,
 (8317, 0): 248,
 (8319, 1): 1266,
 (8319, 0): 207,
 (8324, 1): 383,
 (8324, 0): 21,
 (8325, 1): 515,
 (8325, 0): 94,
 (8336, 1): 1289,
 (8336, 0): 346,
 (8351, 1): 971,
 (8351, 0): 137,
 (8358, 1): 444,
 (8358, 0): 136,
 (8360, 1): 663,
 (8360, 0): 226,
 (8362, 1): 86,
 (8362, 0): 28,
 (8370, 1): 675,
 (8370, 0): 203,
 (8374, 1): 80,
 (8374, 0): 10,
 (8384, 1): 246,
 (8384, 0): 94,
 (8391, 1): 114,
 (8391, 0): 42,
 (8392, 1): 84,
 (8392, 0): 22,
 (8416, 1): 353,
 (8416, 0): 176,
 (8422, 1): 483,
 (8422, 0): 180,
 (8425, 1): 312,
 (8425, 0): 90,
 (8433, 1): 703,
 (8433, 0): 296,
 (8460, 1): 763,
 (8460, 0): 157,
 (8464, 1): 1497,
 (8464, 0): 87,
 (8471, 1): 803,
 (8471, 0): 256,
 (8480, 1): 497,
 (8480, 0): 142,
 (8488, 1): 748,
 (8488, 0): 128,
 (8495, 1): 328,
 (8495, 0): 47,
 (8498, 1): 465,
 (8498, 0): 86,
 (8501, 1): 518,
 (8501, 0): 148,
 (8514, 1): 371,
 (8514, 0): 59,
 (8516, 1): 315,
 (8516, 0): 102,
 (8530, 1): 293,
 (8530, 0): 129,
 (8553, 1): 555,
 (8553, 0): 92,
 (8554, 1): 704,
 (8554, 0): 134,
 (8561, 1): 1068,
 (8561, 0): 177,
 (8566, 0): 2,
 (8566, 1): 2,
 (8580, 1): 176,
 (8580, 0): 44,
 (8582, 1): 1049,
 (8582, 0): 301,
 (8583, 1): 33,
 (8583, 0): 5,
 (8620, 1): 644,
 (8620, 0): 113,
 (8623, 1): 852,
 (8623, 0): 168,
 (8624, 1): 78,
 (8624, 0): 23,
 (8625, 1): 688,
 (8625, 0): 208,
 (8627, 1): 191,
 (8627, 0): 39,
 (8643, 1): 641,
 (8643, 0): 253,
 (8653, 1): 1360,
 (8653, 0): 280,
 (8677, 1): 255,
 (8677, 0): 137,
 (8686, 1): 116,
 (8686, 0): 62,
 (8717, 1): 439,
 (8717, 0): 155,
 (8726, 1): 507,
 (8726, 0): 105,
 (8731, 1): 451,
 (8731, 0): 144,
 (8745, 1): 41,
 (8745, 0): 3,
 (8747, 1): 272,
 (8747, 0): 111,
 (8752, 0): 3,
 (8752, 1): 3,
 (8761, 1): 73,
 (8761, 0): 13,
 (8826, 1): 145,
 (8826, 0): 34,
 (8833, 1): 942,
 (8833, 0): 175,
 (8889, 1): 769,
 (8889, 0): 165,
 (8897, 1): 1167,
 (8897, 0): 162,
 (8903, 1): 268,
 (8903, 0): 132,
 (8925, 1): 493,
 (8925, 0): 108,
 (8935, 1): 42,
 (8935, 0): 9,
 (8944, 1): 868,
 (8944, 0): 159,
 (8945, 1): 1048,
 (8945, 0): 263,
 (8953, 1): 152,
 (8953, 0): 38,
 (8955, 1): 55,
 (8955, 0): 20,
 (8958, 1): 469,
 (8958, 0): 157,
 (8959, 1): 388,
 (8959, 0): 103,
 (8976, 1): 1167,
 (8976, 0): 221,
 (8980, 1): 643,
 (8980, 0): 133,
 (8981, 1): 318,
 (8981, 0): 78,
 (8992, 1): 12,
 (8992, 0): 3,
 (9097, 1): 1176,
 (9097, 0): 247,
 (9123, 1): 277,
 (9123, 0): 132,
 (9127, 1): 102,
 (9127, 0): 44,
 (9164, 1): 246,
 (9164, 0): 91,
 (9179, 1): 15,
 (9179, 0): 2,
 (9194, 1): 144,
 (9194, 0): 98,
 (9206, 1): 240,
 (9206, 0): 96,
 (9227, 1): 776,
 (9227, 0): 281,
 (9277, 1): 1004,
 (9277, 0): 237,
 (9279, 1): 1204,
 (9279, 0): 331,
 (9280, 1): 367,
 (9280, 0): 143,
 (9283, 1): 494,
 (9283, 0): 61,
 (9285, 1): 1247,
 (9285, 0): 334,
 (9293, 1): 390,
 (9293, 0): 102,
 (9380, 1): 1175,
 (9380, 0): 29,
 (9403, 1): 151,
 (9403, 0): 32,
 (9414, 1): 391,
 (9414, 0): 188,
 (9419, 1): 536,
 (9419, 0): 127,
 (9433, 1): 816,
 (9433, 0): 212,
 (9532, 1): 65,
 (9532, 0): 21,
 (9622, 1): 53,
 (9622, 0): 18,
 (9623, 1): 328,
 (9623, 0): 143,
 (9637, 1): 479,
 (9637, 0): 157,
 (9739, 1): 563,
 (9739, 0): 149,
 (10108, 1): 405,
 (10108, 0): 108,
 (10131, 1): 585,
 (10131, 0): 192,
 (10252, 1): 646,
 (10252, 0): 117,
 (10663, 1): 200,
 (10663, 0): 71,
 (11066, 1): 1004,
 (11066, 0): 170,
 (11078, 1): 615,
 (11078, 0): 231,
 (11152, 1): 1273,
 (11152, 0): 92,
 (11294, 1): 247,
 (11294, 0): 100,
 (11669, 1): 262,
 (11669, 0): 97,
 (12242, 1): 471,
 (12242, 0): 153,
 (12536, 1): 285,
 (12536, 0): 71,
 (12829, 1): 272,
 (12829, 0): 137,
 (13451, 1): 57,
 (13451, 0): 18,
 (13484, 1): 949,
 (13484, 0): 235,
 (13745, 0): 4,
 (13745, 1): 4,
 (14688, 1): 455,
 (14688, 0): 95,
 (14703, 1): 496,
 (14703, 0): 193,
 (14748, 1): 1479,
 (14748, 0): 149,
 (14763, 1): 263,
 (14763, 0): 74,
 (14796, 1): 479,
 (14796, 0): 183,
 (14808, 1): 1263,
 (14808, 0): 87,
 (14853, 1): 670,
 (14853, 0): 231,
 (14869, 1): 1041,
 (14869, 0): 210,
 (14870, 1): 1445,
 (14870, 0): 132,
 (14886, 1): 22,
 (14886, 0): 1,
 (14911, 1): 776,
 (14911, 0): 162,
 (15054, 1): 305,
 (15054, 0): 177,
 (15175, 1): 407,
 (15175, 0): 48,
 (15198, 1): 474,
 (15198, 0): 147,
 (15215, 1): 1137,
 (15215, 0): 193,
 (15301, 1): 2,
 (15301, 0): 1,
 (15474, 1): 11,
 (15474, 0): 4,
 (15526, 1): 925,
 (15526, 0): 302,
 (15808, 1): 834,
 (15808, 0): 271,
 (15823, 1): 332,
 (15823, 0): 77,
 (16122, 1): 240,
 (16122, 0): 95,
 (16436, 1): 320,
 (16436, 0): 108,
 (18550, 1): 1306,
 (18550, 0): 181,
 (20420, 1): 60,
 (20420, 0): 13,
 (20441, 1): 355,
 (20441, 0): 72,
 (20450, 1): 21,
 (20450, 0): 3,
 (20505, 1): 98,
 (20505, 0): 36,
 (20593, 1): 586,
 (20593, 0): 96,
 (20606, 1): 8,
 (20606, 0): 4,
 (20612, 1): 1456,
 (20612, 0): 200,
 (20620, 1): 606,
 (20620, 0): 119,
 (20855, 1): 354,
 (20855, 0): 109,
 (20857, 1): 136,
 (20857, 0): 53,
 (21095, 1): 166,
 (21095, 0): 30,
 (21100, 1): 836,
 (21100, 0): 166,
 (21160, 1): 305,
 (21160, 0): 63,
 (21164, 1): 996,
 (21164, 0): 171,
 (21333, 1): 18,
 (21333, 0): 8,
 (22889, 1): 403,
 (22889, 0): 106,
 (25381, 1): 732,
 (25381, 0): 83,
 (25393, 1): 1566,
 (25393, 0): 143,
 (25413, 1): 520,
 (25413, 0): 137,
 (25415, 1): 81,
 (25415, 0): 22,
 (25430, 1): 624,
 (25430, 0): 93,
 (25537, 1): 630,
 (25537, 0): 142,
 (25553, 1): 2359,
 (25553, 0): 354,
 (25571, 1): 662,
 (25571, 0): 133,
 (25572, 1): 441,
 (25572, 0): 92,
 (25604, 1): 17,
 (25604, 0): 8,
 (25662, 1): 80,
 (25662, 0): 9,
 (25703, 1): 9,
 (25706, 1): 1324,
 (25706, 0): 202,
 (25707, 1): 1128,
 (25707, 0): 199,
 (25747, 1): 767,
 (25747, 0): 166,
 (25785, 1): 647,
 (25785, 0): 169,
 (25798, 1): 712,
 (25798, 0): 117,
 (25804, 1): 723,
 (25804, 0): 129,
 (25854, 1): 801,
 (25854, 0): 168,
 (25865, 1): 87,
 (25865, 0): 40,
 (25867, 1): 214,
 (25867, 0): 89,
 (25885, 1): 116,
 (25885, 0): 20,
 (25950, 1): 814,
 (25950, 0): 194,
 (26010, 1): 222,
 (26010, 0): 76,
 (26109, 1): 2,
 (26136, 1): 172,
 (26136, 0): 44,
 (26150, 1): 969,
 (26150, 0): 247,
 (26495, 1): 589,
 (26495, 0): 215,
 (26499, 1): 564,
 (26499, 0): 185,
 (26610, 1): 33,
 (26610, 0): 10,
 (28291, 1): 921,
 (28291, 0): 127,
 (28292, 1): 1877,
 (28292, 0): 301,
 (29640, 1): 853,
 (29640, 0): 120,
 (31528, 1): 1909,
 (31528, 0): 191,
 (32636, 1): 168,
 (32636, 0): 59,
 (32968, 1): 41,
 (32968, 0): 26,
 (37725, 1): 712,
 (37725, 0): 155,
 (37726, 1): 161,
 (37726, 0): 49,
 (38021, 1): 2183,
 (38021, 0): 489,
 (38031, 1): 295,
 (38031, 0): 111,
 (38093, 1): 64,
 (38093, 0): 18,
 (38377, 1): 238,
 (38377, 0): 91,
 (40765, 1): 86,
 (40765, 0): 18,
 (40787, 1): 117,
 (40787, 0): 23,
 (41174, 1): 1027,
 (41174, 0): 151,
 (49859, 1): 289,
 (49859, 0): 42,
 (49872, 1): 825,
 (49872, 0): 234,
 (49876, 1): 2634,
 (49876, 0): 340,
 (49971, 1): 211,
 (49971, 0): 110,
 (55224, 1): 53,
 (55224, 0): 32,
 (55979, 1): 1226,
 (55979, 0): 281,
 (56038, 1): 663,
 (56038, 0): 170,
 (58978, 1): 371,
 (58978, 0): 109,
 (61390, 1): 529,
 (61390, 0): 116,
 (61941, 1): 208,
 (61941, 0): 77,
 (61961, 1): 185,
 (61961, 0): 38,
 (61962, 1): 709,
 (61962, 0): 85,
 (61967, 1): 534,
 (61967, 0): 59,
 (61979, 1): 90,
 (61979, 0): 15,
 (61988, 1): 866,
 (61988, 0): 162,
 (62091, 1): 34,
 (62091, 0): 7,
 (62224, 1): 666,
 (62224, 0): 195,
 (62344, 1): 5,
 (62344, 0): 2,
 (62389, 1): 1502,
 (62389, 0): 348,
 (64966, 1): 356,
 (64966, 0): 110,
 (65254, 1): 402,
 (65254, 0): 86,
 (68085, 1): 693,
 (68085, 0): 165,
 (70083, 1): 999,
 (70083, 0): 116,
 (70085, 1): 357,
 (70085, 0): 30,
 (70086, 1): 2779,
 (70086, 0): 185,
 (70092, 1): 870,
 (70092, 0): 149,
 (70122, 1): 2183,
 (70122, 0): 273,
 (70156, 1): 564,
 (70156, 0): 158,
 (70215, 1): 360,
 (70215, 0): 116,
 (70389, 1): 1013,
 (70389, 0): 365,
 (70403, 1): 353,
 (70403, 0): 53,
 (70965, 1): 341,
 (70965, 0): 76,
 (71654, 1): 773,
 (71654, 0): 56,
 (71703, 1): 682,
 (71703, 0): 47,
 (77502, 1): 43,
 (77502, 0): 9,
 (77536, 1): 11,
 (77536, 0): 1,
 (77541, 1): 83,
 (77541, 0): 13,
 (77546, 1): 604,
 (77546, 0): 114,
 (77548, 1): 1081,
 (77548, 0): 221,
 (77550, 1): 119,
 (77550, 0): 9,
 (77552, 1): 425,
 (77552, 0): 110,
 (77557, 1): 115,
 (77557, 0): 50,
 (77558, 1): 539,
 (77558, 0): 163,
 (86239, 1): 72,
 (86239, 0): 21,
 (86308, 1): 311,
 (86308, 0): 53,
 (86325, 1): 43,
 (86325, 0): 9,
 (91381, 1): 420,
 (91381, 0): 102,
 (92864, 1): 159,
 (92864, 0): 43,
 (92899, 1): 707,
 (92899, 0): 274,
 (92922, 1): 44,
 (92922, 0): 12,
 (92947, 1): 75,
 (92947, 0): 25,
 (93084, 1): 25,
 (93084, 0): 7,
 (101652, 1): 305,
 (101652, 0): 43,
 (104851, 1): 170,
 (104851, 0): 25,
 (105333, 1): 738,
 (105333, 0): 178,
 (105338, 1): 787,
 (105338, 0): 180,
 (105339, 1): 2609,
 (105339, 0): 233,
 (119630, 1): 110,
 (119630, 0): 38,
 (119951, 1): 898,
 (119951, 0): 230,
 (120339, 1): 781,
 (120339, 0): 53,
 (120353, 1): 715,
 (120353, 0): 200,
 (127537, 1): 1303,
 (127537, 0): 256,
 (128214, 1): 37,
 (128214, 0): 11,
 (134102, 1): 1336,
 (134102, 0): 203,
 (134294, 1): 391,
 (134294, 0): 105,
 (134351, 1): 99,
 (134351, 0): 22,
 (134502, 1): 721,
 (134502, 0): 58,
 (134513, 1): 606,
 (134513, 0): 143,
 (134708, 1): 1,
 (135103, 1): 1211,
 (135103, 0): 77,
 (135114, 1): 948,
 (135114, 0): 116,
 (136441, 1): 1066,
 (136441, 0): 283,
 (145692, 1): 142,
 (145692, 0): 70,
 (149019, 1): 706,
 (149019, 0): 197,
 (167145, 1): 1592,
 (167145, 0): 285,
 (171283, 1): 502,
 (171283, 0): 75,
 (189821, 1): 347,
 (189821, 0): 89,
 (192748, 1): 356,
 (192748, 0): 64,
 (207164, 1): 268,
 (207164, 0): 66,
 (210044, 1): 1903,
 (210044, 0): 244,
 (212651, 1): 15,
 (212651, 0): 1,
 (214654, 1): 268,
 (214654, 0): 88,
 (215983, 1): 424,
 (215983, 0): 126,
 (217078, 1): 199,
 (217078, 0): 35,
 (222220, 1): 1257,
 (222220, 0): 236,
 (224206, 1): 57,
 (224206, 0): 29,
 (227756, 1): 4,
 (230020, 1): 989,
 (230020, 0): 151,
 (230883, 1): 506,
 (230883, 0): 169,
 (234408, 1): 6,
 (234408, 0): 1,
 (235555, 1): 584,
 (235555, 0): 102,
 (237268, 1): 12,
 (237268, 0): 2,
 (239411, 1): 90,
 (239411, 0): 22,
 (240032, 1): 141,
 (240032, 0): 26,
 (240070, 1): 567,
 (240070, 0): 61,
 (240559, 1): 123,
 (240559, 0): 29,
 (241564, 1): 620,
 (241564, 0): 46,
 (245364, 1): 897,
 (245364, 0): 182,
 (245813, 1): 107,
 (245813, 0): 62,
 (246866, 1): 1404,
 (246866, 0): 245,
 (247248, 1): 510,
 (247248, 0): 179,
 (252365, 1): 797,
 (252365, 0): 258,
 (254898, 1): 287,
 (254898, 0): 70,
 (255935, 1): 88,
 (255935, 0): 30,
 (256998, 1): 366,
 (256998, 0): 50,
 (257762, 1): 1643,
 (257762, 0): 160,
 (257899, 1): 1146,
 (257899, 0): 182,
 (258162, 1): 308,
 (258162, 0): 66,
 (259531, 1): 21,
 (259531, 0): 2,
 (265318, 1): 207,
 (265318, 0): 54,
 (265366, 1): 1268,
 (265366, 0): 294,
 (265673, 1): 813,
 (265673, 0): 143,
 (268776, 1): 1047,
 (268776, 0): 201,
 (270828, 1): 65,
 (270828, 0): 17,
 (274488, 1): 51,
 (274488, 0): 18,
 (277002, 1): 184,
 (277002, 0): 38,
 (279709, 1): 39,
 (279709, 0): 11,
 (279717, 1): 475,
 (279717, 0): 72,
 (280157, 1): 3,
 (280157, 0): 2,
 (281135, 1): 61,
 (281135, 0): 20,
 (282550, 1): 475,
 (282550, 0): 221,
 (283142, 1): 458,
 (283142, 0): 137,
 (284476, 1): 153,
 (284476, 0): 49,
 (285508, 1): 189,
 (285508, 0): 44,
 (286825, 1): 443,
 (286825, 0): 158,
 (286831, 1): 141,
 (286831, 0): 30,
 (288865, 1): 64,
 (288865, 0): 16,
 (291528, 1): 7,
 (293686, 1): 206,
 (293686, 0): 100,
 (293687, 1): 258,
 (293687, 0): 104,
 (297258, 0): 4,
 (297258, 1): 2,
 (297733, 1): 50,
 (297733, 0): 13,
 (302518, 1): 981,
 (302518, 0): 203,
 (302520, 1): 49,
 (302520, 0): 7,
 (303357, 1): 262,
 (303357, 0): 70,
 (332605, 1): 331,
 (332605, 0): 91,
 (337225, 1): 23,
 (337225, 0): 14,
 (339789, 1): 608,
 (339789, 0): 136,
 (340386, 1): 451,
 (340386, 0): 91,
 (340476, 1): 1,
 (343951, 1): 178,
 (343951, 0): 63,
 (346071, 1): 110,
 (346071, 0): 30,
 (346101, 1): 827,
 (346101, 0): 247,
 (346158, 1): 6,
 (346158, 0): 1,
 (346159, 1): 30,
 (346159, 0): 5,
 (350976, 1): 687,
 (350976, 0): 233,
 (351808, 1): 6,
 (351808, 0): 1,
 (353236, 1): 528,
 (353236, 0): 132,
 (353241, 1): 4,
 (355937, 1): 356,
 (355937, 0): 119,
 (365707, 0): 1,
 (365707, 1): 1,
 (370224, 1): 502,
 (370224, 0): 72,
 (377071, 1): 521,
 (377071, 0): 228,
 (379209, 1): 456,
 (379209, 0): 93,
 (386197, 1): 110,
 (386197, 0): 33,
 (397098, 1): 74,
 (397098, 0): 6,
 (397168, 1): 479,
 (397168, 0): 149,
 (397174, 1): 300,
 (397174, 0): 37,
 (397178, 1): 453,
 (397178, 0): 133,
 (399514, 1): 9,
 (399514, 0): 8,
 (399564, 1): 44,
 (399564, 0): 12,
 (402884, 1): 87,
 (402884, 0): 17,
 (404397, 1): 26,
 (404397, 0): 3,
 (406682, 1): 38,
 (406682, 0): 9,
 (413002, 1): 88,
 (413002, 0): 12,
 (415747, 1): 6,
 (415748, 1): 68,
 (415748, 0): 13,
 (419784, 1): 141,
 (419784, 0): 24,
 (423162, 1): 18,
 (434159, 1): 124,
 (434159, 0): 36,
 (442211, 1): 62,
 (442211, 0): 19,
 (447205, 1): 38,
 (447205, 0): 5,
 (447254, 1): 4,
 (447379, 1): 69,
 ...}